NODE_ENV=production
JWT_SECRET=CAMBIA_ESTA_CLAVE_SEGURA_OFICIOSYA_2026
JWT_EXPIRES=7d
AUTO_INIT_DB=true

# En Railway debes poner:
# DATABASE_URL=${{Postgres.DATABASE_URL}}
DATABASE_URL=postgresql://usuario:password@host:5432/railway

FRONTEND_URL=https://tu-proyecto.up.railway.app
GOOGLE_CLIENT_ID=492507286056-4lp7kqr55bogg2lrnqofbq1170mtk62a.apps.googleusercontent.com

EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=